body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;
    font-size: 45px;
    background-color: rgba(255, 3, 3, 0.563);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .top-container button {
    margin-top: 25px;
  }
  
  .top-container header {
    margin-top: 15px;
  }
  
  .margin {
    margin: 35px;
  }
  
  .time-alert {
    color: rgb(140, 0, 255);
    opacity: 75%;
  }
  
  button {
    margin: 15px;
  }
  
  .question-box {
    font-style: bold;
  }
  
  .hide {
    display: none;
  }
  
  label {
    font-size: 25px;
  }
  
  button {
    width: 150px;
    height: 55px;
    font-size: 25px;
  }
  
  .completed {
    color: green;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .high-score {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    align-items: center;
  }
  
  .subtract {
    color: red;
  }
  
  #countdown {
    color: green;
  }